body {
    font-family: arial;
    margin: auto;
    padding: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: radial-gradient(circle at center center, #fdfafa, gray), 		
    repeating-radial-gradient(circle at center center, #fdfafa, #fdfafa, 10px, 			
    transparent 20px, transparent 10px);
    background-blend-mode: multiply;
}

.header {
    text-align: center;
    color: black;
    font-size: 60px;
    text-transform: uppercase;
    -webkit-text-stroke: 1px rgb(228,229,230);
    text-shadow: 2px 2px gray;
    font-family: impact;
}
/*--general-styling for page-and-header--*/

.ducks-head {
    color: rgb(252,76,2);
    -webkit-text-stroke: 1px black;
    text-shadow: 2px 2px gray;
    text-align: center;
    font-size: 40px;
    font-family: impact;
    text-transform: uppercase;
}

.ducks-image {
    height: 350px;
    width: 350px;
    max-width: 600px;
    margin: auto 2px;
}

.ducks-quiz {
    color: black;
    background-color: rgb(252,76,2);
    border: 1px solid black;
    border-radius: 4px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: impact;
}

/*--all-ducks-elements-above-here--*/

/*--0,106,101 71,34,67--*/
.md-head {
    color: white;
    -webkit-text-stroke: 1px rgb(0,106,101);
    text-shadow: 2px 2px rgb(71,34,67);
    text-align: center;
    font-size: 40px;
    font-family: impact;
    text-transform: uppercase; 
}

.md-image {
    height: 350px;
    width: 350px;
    max-width: 600px;
    margin: auto 2px;
}

.md-quiz {
    color: white;
    background-color: rgb(0,106,101);
    border: 1px solid rgb(71,34,67);
    border-radius: 4px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: impact;
}

/*--all-md-elements-above-here--*/