body {
    font-family: arial;
    margin: auto;
    padding: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: radial-gradient(circle at center center, #fdfafa, gray), 		
    repeating-radial-gradient(circle at center center, #fdfafa, #fdfafa, 10px, 			
    transparent 20px, transparent 10px);
    background-blend-mode: multiply;
}

.header {
    text-align: center;
    color: black;
    font-size: 60px;
    text-transform: uppercase;
    -webkit-text-stroke: 1px rgb(228,229,230);
    text-shadow: 2px 2px gray;
    font-family: impact;
}