body {
    font-family: arial;
    margin: auto;
    padding: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: radial-gradient(circle at center center, #fdfafa, gray), 		
    repeating-radial-gradient(circle at center center, #fdfafa, #fdfafa, 10px, 			
    transparent 20px, transparent 10px);
    background-blend-mode: multiply;
}

.header {
    text-align: center;
    color: black;
    font-size: 60px;
    text-transform: uppercase;
    -webkit-text-stroke: 1px rgb(228,229,230);
    text-shadow: 2px 2px gray;
    font-family: impact;
}

hidden {
    display: none;
}
/*--general-styling for page-and-header--*/

.ducks, .md-content, .nhl-content, .hof-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 344px;
    margin: 0 auto 50px auto;
}

.ducks-button, .md-button, .nhl-button, .hof-button {
    display: flex;
    flex-direction: column;
    
    margin-top: 20px;
    align-items: center;
}

.ducks-button button, .md-button button, .nhl-button button, .hof-button button {
    height: 40px;
    width: 200px;
    font-size: 20px;
}

/*--all-elements-combined-for-all-elements-above--*/

.ducks-head {
    color: rgb(252,76,2);
    -webkit-text-stroke: 1px black;
    text-shadow: 2px 2px gray;
    text-align: center;
    font-size: 40px;
    font-family: impact;
    text-transform: uppercase;
}

.ducks-image {
    height: 350px;
    width: 350px;
    max-width: 600px;
    margin: auto 2px;
}

.ducks-quiz {
    color: black;
    background-color: rgb(252,76,2);
    border: 1px solid black;
    border-radius: 4px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: impact;
}

/*--all-ducks-elements-above-here--*/

.md-head {
    color: white;
    -webkit-text-stroke: 1px rgb(0,106,101);
    text-shadow: 2px 2px rgb(71,34,67);
    text-align: center;
    font-size: 40px;
    font-family: impact;
    text-transform: uppercase; 
}

.md-image {
    height: 350px;
    width: 350px;
    max-width: 600px;
    margin: auto 2px;
}

.md-quiz {
    -webkit-text-stroke: 0.1px rgb(0,106,101);
    color: white;
    background-color: rgb(0,106,101);
    border: 1px solid rgb(71,34,67);
    border-radius: 4px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: impact;
}

/*--all-md-elements-above-here--*/

.nhl-head {
    color: rgb(228,229,230);
    -webkit-text-stroke: 1px black;
    text-shadow: 2px 2px gray;
    text-align: center;
    font-size: 40px;
    font-family: impact;
    text-transform: uppercase; 
}

.nhl-image {
    height: 350px;
    width: 300px;
    max-width: 600px;
    margin: auto 2px;
}

.nhl-quiz {
    color: black;
    background-color: rgb(228,229,230);
    border: 1px solid black;
    border-radius: 4px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: impact;
}

/*--all-nhl-elements-above-here--*/

.hof-head {
    color: #d4af37;
    -webkit-text-stroke: 1px black;
    text-shadow: 2px 2px gray;
    text-align: center;
    font-size: 40px;
    font-family: impact;
    text-transform: uppercase; 
}

.hof-image{
    height: 350px;
    width: 350px;
    max-width: 600px;
    margin: auto 2px;
}

.hof-quiz {
    color: black;
    background-color: #d4af37;
    border: 1px solid black;
    border-radius: 4px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: impact;
}

/*--all-hof-elements-above-here--*/
.score-area {
    margin-bottom: 20px;
    text-align: center;
}

.scores {
    margin: 5px;
    font-size: large;
}

.results {
    color: rgb(228,229,230);
    background-color: black;
    padding: 10px;
    border: 1px solid rgb(228,229,230);
    border-radius: 4px;
    text-transform: uppercase;
}

#quiz-container {
    text-align: center;
}

/*--general-quiz-elements-above--*/

.btn {
    background-color: black;
    color: rgb(228,229,230);
    font-weight: bold;
    width: 90%;
    border: 2px solid rgb(228,229,230);
    padding: 10px;
    margin: 10px 0;
    text-align: center;
    border-radius: 4px;
}

.btn:hover {
    background-color: rgb(228,229,230);
    color: black;
}

#next-btn {
    background-color: #001e4d;
    color: #fff;
    font-weight: 500;
    width: 40px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    display: none;
}

.correct {
    background-color: white;
    color: black;
    font-weight: bold;
}

.wrong {
    background-color: black;
    color: white;
    display: none;
}

.hidden {
    display: none;
}

/*--all-button-elements-above-here--*/

#stop-quiz {
    text-decoration: none;
    color: rgb(228,229,230);
    background-color: black;
    font-weight: 500;
    font-size: x-large;
    margin-bottom: 40px;
    display: inline-block;
    border: 2px solid rgb(228,229,230);
    border-radius: 600px;
    width: 180px;
    text-align: center;
    padding: 10px;
    margin-top: 30px;
}

.stop-quiz-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%
}

.hidden-text {
    visibility: hidden;
}

.container {
    width: 98%;
}

@media screen and (min-width: 750px) {
    #question-img {
        height: 350px;
        width: 350px;
        max-width: 500px;
    }


.ducks-image, .md-image, .hof-image {
    height: 350px;
    width: 350px;
    max-width: 500px;
}

.nhl-image {
    height: 350px;
    width: 300px;
    max-width: 500px;
}

}

@media screen and (min-width: 950px) {
    #quiz-container {
        margin-top: -15px;
    }

    .container {
        display: flex;
    }
}

  @media screen and (max-width: 600px) {
    .ducks-image, .md-image, .hof-image {
        width: 200px;
        height: 200px
    }

    .nhl-image {
        width: 180px;
        height: 200px;
    }

  
    @media screen and(max-width:600px) {
  
    .ducks-image {
    width: 200px;
    height: 200px;
    }
  
    .nhl-image{
    width: 200px;
    height: 200px;
      margin: auto 20px;
    }
  
}}