body {
  font-family: arial;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: lightgray;
  background-image: radial-gradient(circle at center center,           #fdfafa, lightgray), 		
  repeating-radial-gradient(circle at center center, #fdfafa,         #fdfafa, 10px, 			
  transparent 20px, transparent 10px);
  background-blend-mode: multiply;

  }

  .header {
  text-align: center;
  color: black;
  font-size: 60px;
  text-transform: uppercase;
  -webkit-text-stroke: 1px rgb(228,229,230);
  text-shadow: 2px 2px gray;
  margin-bottom: 20px;
  margin-top: 10px;
  font-family: impact;

  }
 
  .hidden {
  display: none;
  }

  /*--general-elements-above--*/

  .ducks, .nhl-content, .hof-content, .md-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%; 
  max-width: 344px; 
  margin: 0 auto 50px auto;
  }

  .ducks-button, .nhl-button, .hof-button, .md-button {
  display: flex;
  flex-direction: column;
  gap: 20px; 
  margin-top: 20px; 
  align-items: center; 
  }

  .ducks-button button, .nhl-button button, .hof-button button, .md-button button {
  
  height: 40px;
  width: 200px; 
  font-size: larger;
  }

  /*--common-elements-for-both-above--*/

  .ducks-head {
  color: rgb(252,76,2);
  -webkit-text-stroke: 1px black;
  text-shadow: 2px 2px gray;
  text-align: center;
  font-size: 40px;
  text-transform: uppercase;
  font-family: impact;
  }

  .ducks-image {
  Height: 350px;
  width: 350px;
  max-width: 600px; 
  margin-left: 2px;
  margin-right: 2px;
  }

  .ducks-quiz {
  color: black;
  background-color: rgb(252,76,2);
  border: 1px solid black;
  border-radius: 4px;
  font-weight: bold;
  text-transform: uppercase;
  }

 .md-head {
   color: white;
   -webkit-text-stroke: 1px rgb(0,101,106);
   text-shadow: 2px 2px rgb(71,34,67);
   text-align: center;
   font-size: 40px;
   text-transform: uppercase;
   font-family: impact;
   }

  .md-image {
  height: 400px;
  width: 400px;
  max-width: 600px; 
  margin-left: 2px;
  margin-right: 2px;
  }

 .md-quiz {
   -webkit-text-stroke: 0.1px rgb(0,101,106);
   color: white;
   background-color: rgb(0,106,101);
   border: 1px solid rgb(71,34,67);
   border-radius: 4px;
   font-weight: bold;
   text-transform: uppercase;
   }


  .ducks-quiz:hover, .md-quiz:hover, .nhl-quiz:hover, .hof-quiz:hover {
  font-size: 2rem;
  gap: 60px;
  border: 1px solid none;
  height: 80px;
  width: 300px;
  }
  /*--ducks-elements-above--*/

  .nhl-head {
  color: rgb(228,229,230);
  -webkit-text-stroke: 1px black;
  text-shadow: 2px 2px gray;
  text-align: center;
  font-size: 40px;
  text-transform: uppercase;
  font-family: impact;
  }

  .nhl-image {
  Height: 350px;
  width: 325px;
  max-width: 600px; 
  margin-left: 2px;
  margin-right: 2px;
  }

  .nhl-quiz {
  color: black;
  background-color: rgb(228,229,230);
  border: 1px solid black;
  border-radius: 4px;
  font-weight: bold;
  text-transform: uppercase;
  }


  /*--nhl-elements-above-here--*/

  .hof-head {
  color: #d4af37;
  -webkit-text-stroke: 1px black;
  text-shadow: 2px 2px gray;
  text-align: center;
  font-size: 40px;
  text-transform: uppercase;
  font-family: impact;
  }

  .hof-image {
  Height: 350px;
  width: 350px;
  max-width: 600px; 
  margin-left: 2px;
  margin-right: 2px;
  }

  .hof-quiz {
  color: black;
  background-color: #d4af37;
  border: 1px solid black;
  border-radius: 4px;
  font-weight: bold;
  text-transform: uppercase;
  }

  .score-area {
  margin-bottom: 20px;
  text-align: center; 
  }

  .scores {
  margin: 5px;
  font-size: large; 
  }

  .results {
  color: rgb(228,229,230);
  background-color: black;
  padding: 10px;
  border: 1px solid rgb(228,229,230);
  border-radius: 4px;
  text-transform: uppercase;
  }

  #quiz-container {
  text-align: center;
  }

  .btn {
  background-color: black;
  color: rgb(228,229,230);
  font-weight: bold;
  width: 90%;
  border: 2px solid rgb(228,229,230);
  padding: 10px;
  margin: 10px 0;
  text-align: center;
  border-radius: 4px;
 
    }

  /* .btn:hover { 
 background: rgb(228,229,230);
  color: black; 
  } - no hovering on mobile. affects button colour on mobile                                */

  #next-btn {
  background: #001e4d;
  color: #fff;
  font-weight: 500;
  width: 40px;
  border: 0;
  padding: 10px;
  margin: 20px auto 0;
  border-radius: 4px;
 }
  

  .correct {
  background-color: white;
  color: black;
  font-weight: bold;

  }

  .wrong {
  background-color: black;
  color: white;
  display: none;
  }

  .btn {
  margin: 5px;
  padding: 10px;
 
  }

#question img{
  height: 250px;
  width: 250px;
  border: 2px solid black;
  border-radius: 50%;
  background-color: rgb(228,229,230);
  }

  .hidden {
  display: none;
  }

  #stop-quiz {

  text-decoration: none;
  color: rgb(228,229,230);
  background-color: black;
  font-weight: 500;
  font-size: x-large;
  margin-bottom: 40px;
  display: inline-block;
  border: 2px solid rgb(228,229,230);
  border-radius: 600px;
  width: 180px;
  text-align: center;
  padding: 10px;
  margin-top: 30px;

  }

  .container {
  width:98%;
  }

  /*--general-quiz-elements-above--*/


  /*Media query: tablets and larger (750px and up*/
  @media screen and (min-width:750px) {
  #question img {
  height: 350px;
  width: 350px;
  max-width: 500px;
  }

  .ducks-image, .md-image, .hof-image { 
  height: 350px; 
  width: 350px; 
  max-width: 500px;
  }

  .nhl-image {
    height: 350px;
    width: 300px;
    max-width: 500px;


  }


  /*Larger devices (laptops and desktops 950px and up )*/
  @media screen and (min-width:950px) {

  #quiz-container {
  margin-top: -15px;
  }
    
  .container {
  display: flex;
  }

  }

  @media screen and(max-width:600px) {

  .ducks-image {
  width: 200px;
  height: 200px;
  }

  .nhl-image{
  width: 200px;
  height: 200px;
    margin: auto 20px;
  }

  }
  }